@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,900|Lobster");
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3124rem;
  line-height: 1.5;
  color: #89807a;
  font-weight: 400;
}

h1, h2, h3, p, figure {
  margin: 0;
}

p {
  margin-bottom: 1em;
}

.section__title {
  font-family: "Lobster", cursive;
  line-height: 1.25;
}

.section__title {
  font-size: 4.75rem;
  color: #414a4d;
}

.section__subtitle {
  font-family: "Permanent Marker", cursive;
  font-size: 1.69;
  color: #a3b9bf;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .5em;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  display: -ms-grid;
  display: grid;
  grid: auto-flow/minmax(1em, 1fr) minmax(300px, 650px) minmax(1em, 1fr);
  padding: 5em 0 0;
}

.section__title, .section__subtitle,
.section p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.section__text {
  width: 65%;
}

.section__hours {
  margin-top: 1em;
  color: #d3cdc1;
  font-size: 1em;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 0;
}

.section__days {
  color: white;
  margin: 0;
}

.section__about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(/Beer/images/abouthead.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Beer/images/abouthead.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50vh 0;
  text-align: center;
  color: #aea79e;
}

.section__about .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.section--card {
  grid: repeat(4, 1fr)/minmax(1em, 1fr) repeat(5, 1fr) minmax(1em, 1fr);
}

.dt {
  font-weight: 600;
  color: #414a4d;
  margin-top: -1em;
}

nav {
  color: #d3cdc1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 0.5em solid #89807a;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  margin: 1em auto 0;
  padding: 0;
  max-width: 500px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.section--intro {
  background-image: url(/Beer/images/base.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20vh 0;
  text-align: center;
  color: #aea79e;
}

.section--intro .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.intro__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
}

.intro__text::after {
  content: '';
  display: block;
  height: 1px;
  background: white;
  opacity: .3;
  width: 100px;
  position: absolute;
  top: -1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

svg {
  width: 1em;
}

.section--beer {
  text-align: center;
}

.grid-carousel {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  grid: auto-flow/2em repeat(5, 1fr) 2em;
  max-width: 1200px;
  margin: 3em auto;
  position: relative;
}

.grid-carousel__item {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.grid-carousel__item:nth-of-type(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.grid-carousel__item:nth-of-type(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.grid-carousel__item:nth-of-type(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.grid-carousel__item:nth-of-type(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.grid-carousel__item:nth-of-type(5) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.grid-carousel__item.featured {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.grid-carousel__caption {
  opacity: 0;
  margin-top: 2em;
}

.grid-carousel__item.featured .grid-carousel__caption {
  opacity: 1;
  -ms-scroll-snap-type: proximity;
      scroll-snap-type: proximity;
  background: #a3b9bf;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
  margin-top: 2em;
}

.grid-carousel__title {
  font-size: 3rem;
}

.grid-carousel::before, .grid-carousel::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.grid-carousel__button {
  all: unset;
  padding: .5em;
}

.grid-carousel__button:last-of-type {
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
}

.grid-carousel::before {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}

.grid-carousel::after {
  grid-column: -2 / -4;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}

.grid-carousel .abv {
  font-family: "Permanent Marker", cursive;
  color: #414a4d;
}

.section--ontap {
  background-image: url(https://94c1199342e139bbfd45-496b9566d2e7caf560667baedeaabce1.ssl.cf1.rackcdn.com/draft-pour.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25vh 0;
  text-align: center;
  color: #aea79e;
}

.section--ontap .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.container {
  position: relative;
}

.beer--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(174, 167, 158, 0.53);
}

.container:hover .beer--overlay {
  opacity: 1;
}

#stepchild:hover {
  background: url(/Beer/images/beer3.jpg);
}

.section--about {
  grid: repeat(4, 1fr)/minmax(1em, 1fr) repeat(5, 1fr) minmax(1em, 1fr);
  grid-gap: 2em;
}

.section--about__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-left: auto;
}

.section--about__text-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about {
  font-family: "Lobster", cursive;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(174, 167, 158, 0.53);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.section--moto {
  width: 50%;
  margin: 2em auto;
  font-family: "Permanent Marker", cursive;
  color: #414a4d;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1860px) {
  .text {
    font-size: 1em;
  }
  .about {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
  .text {
    font-size: 1em;
  }
  .about {
    font-size: 2em;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .text {
    font-size: 1em;
  }
  .about {
    font-size: 1em;
  }
}

footer {
  text-align: center;
  color: #414a4d;
}

footer p {
  font-family: "Lobster", cursive;
  line-height: 1;
  margin: 0;
}

footer .logo--light {
  width: 12%;
}

.card {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  padding: 2em;
  outline: 2px solid currentColor;
  outline-offset: -1em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.card--dark {
  background: #414a4d;
  color: #a3b9bf;
}

.card--dark .section__title {
  color: white;
}

.card--start {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
}

.card--end {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / span 4;
}

.tap--img {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  border: 2px solid #a3b9bf;
}

.tours--image {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/ span 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  z-index: 10;
  border: 2px solid #a3b9bf;
}

.about--img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/ 4;
  border: 2px solid #414a4d;
}

.text--about {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
  -ms-grid-row: 2;
  grid-row: 2/2;
  z-index: 10;
  background: #89807a;
  color: #d3cdc1;
}

.section--about {
  grid: repeat(2, 1fr)/minmax(1em, 1fr) repeat(5, 1fr) minmax(1em, 1fr);
}

.card--request {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / span 5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card--request__text {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.card--request input[type=text], .card--request [type=number], .card--request select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #a3b9bf;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card--request input [type=select], .card--request select {
  width: 60%;
}

.btn {
  display: inline-block;
  font-family: "Permanent Marker", cursive;
  text-transform: uppercase;
  padding: .25em 2em;
  text-decoration: none;
  margin: .5em 0 0;
  border-radius: .4em;
}

.btn--light {
  background: #d3cdc1;
  color: #414a4d;
}

.btn--light:hover {
  background: #89807a;
}

.btn--dark {
  background: #a3b9bf;
  color: #5a666a;
}

.btn--dark:hover {
  background: white;
  color: #a3b9bf;
}

.btn--outline {
  border: 2px solid currentColor;
  color: #414a4d;
}
/*# sourceMappingURL=main.css.map */