.section--about {
  grid: repeat(4, 1fr)/minmax(1em, 1fr) repeat(5, 1fr) minmax(1em, 1fr);
  grid-gap: 4em;

  &__image {
    grid-column: 1/2;
    margin-left: auto;
  }

  &__text-box {
    grid-column: 2/3;
    align-self: center;
  }
}

.about{
  font-family: $ff-title;
  grid-column: 1 / 4;
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;

}

.container{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s;
  background-color: rgba(174, 167, 158, 0.53);
}

.container:hover, img:hover{
  opacity: 1;
  -ms-transform: scale(1.1,1.1); /* IE 9 */
  -webkit-transform: scale(1.1,1.1); /* Safari */
  transform: scale(1.1,1.1);
  z-index: 1;
  transition: all .5s;
  -webkit-box-shadow: 10px 10px 91px 0px rgba(174, 167, 158, 0.53);
-moz-box-shadow: 10px 10px 91px 0px rgba(174, 167, 158, 0.53);
box-shadow: 10px 10px 91px 0px rgba(174, 167, 158, 0.53);
  .overlay:hover {
  opacity: 1;
   }
}


.text {
  font-family: $ff-sub-title;
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.section--moto{
  width: 50%;
  margin: 2em auto;
  font-family: $ff-sub-title;
  color: $dark-blue;
  }


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 1860px) {
  .text{
    font-size: 1em;
  }

  .about{
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }

  .text{
    font-size: 1em;
  }

  .about{
    font-size: 2em;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
  .text{
    font-size: 1em;
  }
  .about{
    font-size: 1em;
  }
}