.section--about {
  grid: repeat(4, 1fr)/minmax(1em, 1fr) repeat(5, 1fr) minmax(1em, 1fr);
  grid-gap: 2em;

  &__image {
    grid-column: 1/2;
    margin-left: auto;
  }

  &__text-box {
    grid-column: 2/3;
    align-self: center;
  }
  
}
