svg {
  width: 1em;
}

.section--beer {
  text-align: center;
}

.grid-carousel {
  grid-column: 1 / -1;
  display: grid;
  grid: auto-flow / 2em repeat(5, 1fr) 2em;
  max-width: 1200px;
  margin: 3em auto;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(red, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &::before{
    grid-column: 2 / 4;
  }

  &::after {
    grid-column: -2 / -4;
  }
}