svg {
  width: 1em;
}

.section--beer {
  text-align: center;
}

.grid-carousel {
  grid-column: 1 / -1;
  display: grid;
  grid: auto-flow / 2em repeat(5, 1fr) 2em;
  max-width: 1200px;
  margin: 3em auto;
  position: relative;

  &__item {
    @include applyOrder(5);
    transform: scale(.8);

    &.featured {
      transform: scale(1);
    }
  }

  &__caption {
    opacity: 0;
    margin-top: 2em;
  }

  &__item.featured  &__caption {
    opacity: 1;
    scroll-snap-type: proximity;
    background: #a3b9bf;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    margin-top: 2em;
  }

  &__title{
    font-size: 3rem;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  &__button {
    all: unset;
    padding: .5em;
    &:last-of-type{
      order: 99;
    }
  }

  &::before{
    grid-column: 2 / 4;
    background: linear-gradient(to right, rgba(white, .9), rgba(white, .5));

  }

  &::after {
    grid-column: -2 / -4;
    background: linear-gradient(to left, rgba(white, .9), rgba(white, .5));
  }

  .abv{
    font-family: $ff-sub-title;
    color:$dark-blue;
  }
}

.section--ontap{
  background: {
  image: url(https://94c1199342e139bbfd45-496b9566d2e7caf560667baedeaabce1.ssl.cf1.rackcdn.com/draft-pour.jpg);
  size: cover;
  repeat: no-repeat;
}
padding: 25vh 0;
text-align: center;
color: $brown;

.logo {
  grid-column: 2 / 3;
}
}

.container{
  position: relative;
}

.beer--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease-in-out;
  background-color: rgba(174, 167, 158, 0.53);;
}

.container:hover .beer--overlay {
  opacity: 1;
}

.beerSmall{
    font-size: 2rem;
    color: #414a4d;
}

#stepchild:hover {
  text-align: center;
  background: url(/Beer/images/beer2.jpg) no-repeat center center;
  background-color: white;
  border: 7px solid #414a4d;
}

#wtf:hover {
  text-align: center;
  background: url(/Beer/images/beer5.jpg) no-repeat center center;
  background-color: white;
  border: 7px solid #414a4d;
  background-size: 30%;
}

#average:hover {
  text-align: center;
  background: url(/Beer/images/beer3.jpg) no-repeat center center;
  background-color: white;
  border: 7px solid #414a4d;
  background-size: 30%;
}

#toughguy:hover {
  text-align: center;
  background: url(/Beer/images/beer1.jpg) no-repeat center center;
  background-color: white;
  border: 7px solid #414a4d;
  background-size: 30%;
}

#gravedigger:hover, #takemeaway:hover {
  text-align: center;
  background: url(/Beer/images/beer4.jpg) no-repeat center center;
  background-color: white;
  border: 7px solid #414a4d;
  background-size: 30%;
}

#nakedgoose:hover {
  text-align: center;
  background: url(/Beer/images/beer3.jpg) no-repeat center center;
  background-color: white;
  border: 7px solid #414a4d;
}

#grandchild:hover {
  text-align: center;
  background: url(/Beer/images/beer2.jpg) no-repeat center center;
  background-color: white;
  border: 7px solid #414a4d;
  background-size: 30%;
}


.beer--hover{
  position: absolute;
    bottom: 15px;
    color: #a3b9bf;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .5em;

  &__button{
    background: #414a4d;
    color: #a3b9bf;
    font-family: "Permanent Marker", cursive;
    text-transform: uppercase;
    padding: .25em 2em;
    text-decoration: none;
    border-radius: .4em;
    font-size: .75em;
    border: 2px solid #a3b9bf;
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
}