*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  
}

.section {
  display: grid;
  grid: auto-flow / minmax(1em, 1fr) minmax(300px, 650px) minmax(1em, 1fr);
  padding: 5em 0 0;

  &__title,
  &__subtitle,
  p {
    grid-column: 2 / 3;
  }

  &__text{
    width: 65%;
  }



  &__hours{
    margin-top: 1em;
    color: $light-brown;
    font-size: 1em;
    font-family: $ff-sub-title;
    margin-bottom: 0;
  }
  &__days{
    color: white;
    margin: 0;
  }
}



.section--card {
  grid: repeat(4, 1fr) / minmax(1em, 1fr) repeat(5, 1fr) minmax(1em,1fr); 
}

