@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,900|Lobster');


body{
  font-family: $ff-body;
  font-size: 1.3124rem;
  line-height: 1.5;
  color: $dark-brown;
  font-weight: $fw-normal;
}

h1, h2, h3, p, figure {
  margin: 0;
}

.section__title {
  font-family: $ff-title;
  line-height: 1;
}

.section__title{
  font-size: 4.75rem;
  color: $dark-blue;
}

.section__subtitle{
  font-family: $ff-sub-title;
  font-size: 1.69;
  color: $light-blue;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .5em;
}